{% extends 'layouts/msgLayout.html' %}

{% block title %} Contraseña reseteada Info {% endblock %}

{% block content %}
	<h1 class="title">Contraseña reseteada Info</h1>
	<hr/>
	<div>
		  <p>
		    Le enviamos instrucciones por correo electrónico para restablecer su contraseña, si existe 
			una cuenta con el correo electrónico que ingresó.
			<br>Deberías recibirlos en breve.
		  </p><br>
		  <p>
		    Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró,
			y revise su carpeta de correo no deseado.
		  </p><br>
		  <p><b><a href="{% url 'home' %}">volver al Home</a></b></p>
	</div>

{% endblock %}